.AccountSettings-header-container {
  display: flex;
  align-items: center;
}

.AccountSettings-logo {
  width: 75px;
  margin-right: 20px;
}

.AccountSettings-header {
  font-size: 3rem;
  color: #be0019;
}